* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Happy Monkey";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(./resource/images/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.background-tint {
  background-color: rgba(50, 50, 50, 0.8);
  background-blend-mode: multiply;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.instagram {
  background-color: #a11f90;
  margin-right: 10px;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 25px;
  border: #5f5d60;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(241, 196, 15, .9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  font-size: 25px;
}

.header-left img {
  display: block;
  float: left;
  transition: all 0.5s;
  height: 55px;
  width: 55px;
  margin: 5px;
}

.header-left span {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
  /* margin-right: -25px; */
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}

.food-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dfe6e9;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.food {
  float: left;
  width: 24%;
  height: 300px;
  transition: transform 0.2s;
  background-color: white;
  position: relative;
  margin: 5px;
  padding: 10px;
  z-index: 0;
}

.food:hover {
  transform: scale(1.5);
  position: relative;
  z-index: 100;
}

.food-icon {
  position: relative;
}

.food-icon img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.food-icon p {
  position: relative;
  top: 44%;
  width: 100%;
  color: black;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: black;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid black;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: rgba(241, 196, 15, .9);
  cursor: pointer;
  box-shadow: 0 7px orange;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/*
footer img {
  width: 125px;
} */

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(241, 196, 15, .9);
  height: 100px;
  font-size: 25px;
}

footer img {
  display: block;
  float: left;
  transition: all 0.5s;
  height: 55px;
  width: 55px;
  margin: 5px;
}

footer span {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.motto {
  float: right;
  color: black;
  font-size: 16px;
}